@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 100vw;
  text-align: center;
  min-height: 100vh;
  margin: 0 auto;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

#site-wrapper {
  min-height: 100vh;
  display:grid;
  grid-template-areas: 
  "nav"
  "main"
  "footer";
grid-template-rows: 60px 1fr 40px;
grid-template-columns: 1fr;
height: 100vh;
margin: 0;
}

#pageNav{
grid-area:nav;
background-color: #303131;


}

#pageMain{
grid-area:main;
}

#pageFooter{
grid-area: footer;
}

#pageSide{
  grid-area: side;
}


#abt-me { 
  display: grid;
  grid-template-areas: 
    "side1 main side2";
  grid-template-rows: 1fr;
  grid-template-columns: 200px 1fr 200px;
  grid-gap: 10px;
  height: auto;
  margin: 0;
  
  }

  #artSide1{
    grid-area: side1;
  }
  #artSide2{
    grid-area: side2;
  }

  #artMain{
    grid-area: main;
    background-color: #888;
  }

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.circle{
  border-radius: 50%;
  border: gray;
  color:gray;
  border-width: 2;
  width:20px;
  height:20px;
  background-color: gray;
  display: inline-block;
  margin: 6px;
}

#main-img{
  height: 17vw;
  width: 18vw;
  border-radius: 50%;
  border-color:#27394d;
  border-width: 0.4vw;
}

#CV{
  height:auto;
  width:35vw;
}

.oval-container {
  
  width: 350px; 
  height: 450px;
  overflow: hidden;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.oval-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

#portfolio{
  display: grid;
  grid-template-areas:
  "side1 side2";
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  height: auto;
  
}

#portfolioSide1{
  grid-area: side1;
  grid-column: 1/4;
  
}

#portfolioSide2{
  grid-area: side2;
  grid-column: 4/6;
  display: grid; 
  place-items: center;
}


li{
  color: whitesmoke;

}



#orange{
color: #fd672d;
}

#nice-gray{
  color:#203447;
}

#project-container{
  width:16vw;
  margin:2vw;
}

#navList li:hover{
  color:#fd672d;
}

#navList li:active{
  color:#fd672d;
}

#navList li{
  transition: color 0.3s ease ;
}

#navList .selected{
  color:#fd672d;
}

.linker{
  width:40vw ;
}

/* #linklist > div:hover {
border:0.5vw solid #fd672d;
border-radius: 10%;
} */
