@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  max-height: max-content;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

#site-wrapper {
  min-height: 100vh;
  display:grid;
  grid-template-areas: 
  "nav"
  "main"
  "footer";
grid-template-rows: 60px 1fr 40px;
grid-template-columns: 1fr;
height: 100vh;
margin: 0;
}

#pageNav{
grid-area:nav;
}

#pageMain{
grid-area:main;
}

#pageFooter{
grid-area: footer;
}

#pageSide{
  grid-area: side;
}


#abt-me { 
  display: grid;
  grid-template-areas: 
    "side1 main side2";
  grid-template-rows: 1fr;
  grid-template-columns: 200px 1fr 200px;
  grid-gap: 10px;
  height: auto;
  margin: 0;
  
  }

  #artSide1{
    grid-area: side1;
  }
  #artSide2{
    grid-area: side2;
  }

  #artMain{
    grid-area: main;
    background-color: #888;
  }

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.circle{
  border-radius: 50%;
  border: gray;
  color:gray;
  border-width: 2;
  width:20px;
  height:20px;
  background-color: gray;
  display: inline-block;
  margin: 6px;
}

#main-img{
  height: 17vw;
  width: 18vw;
  border-radius: 50%;
  border-color:#27394d;
  border-width: 0.4vw;
}

#CV{
  height:auto;
  width:35vw;
}